.main_title {
    padding: 15px;
    text-decoration: underline;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.description {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 40px;
    background-color: lightcyan;
}

.avatar {
    width: 100px;
    height: 100px;
}

.name {
    color: black;
}

.tag {
    color: gray;
    font-size: small;
    margin-top: 0px;
}

.location {
    color: gray;
    font-size: small;
    margin-top: 0px;
}

.stats {
    list-style: none;
    display: flex;
    padding: 0px;
    margin: 0px;
}

.statsElement {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 7px;
    border: 1px solid gray;
}

.label {
    color: gray;

}