.main_title {
    padding: 15px;
    text-decoration: underline;
}

.statistics {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.title {}

.stat_list {
    display: flex;
    padding-left: 0px;
    gap: 5px;
    background-color: blueviolet;
    color: white;

}

.item {
    display: flex;
    flex-direction: column;

}

.label {
    padding-bottom: 5px;
}